### ä½œæ¥­ç›®æ¨™: äº†è§£ N-Gram å¦‚ä½•è—‰ç”±æ–‡æœ¬è¨ˆç®—æ©Ÿç‡

### ç‚ºä½•éœ€è¦ä½¿ç”¨é¦¬å¯å¤«å‡è¨­ä¾†ç°¡åŒ–èªè¨€æ¨¡å‹çš„è¨ˆç®—?

åŸæœ¬çš„èªè¨€æ¨¡å‹åˆ©ç”¨è²æ°å®šç†è¨ˆç®—æ©Ÿç‡æ™‚ç‚º:
$$
\begin{aligned}
&W = (W_1W_2W_3W_4â€¦W_m) \\
&P(W_1,W_2,W_3,W_4,â€¦,W_m) = P(W_1)*P(W_2|W_1)*P(W_3|W_1,W_2)*â€¦*P(W_m|W_1,â€¦,W_{m-1})
\end{aligned}
$$

ç‚ºä½•éœ€è¦å¼•å…¥é¦¬å¯å¤«å‡è¨­ä½¿æ©Ÿç‡ç°¡åŒ–ç‚º:
$$
P(W_m|W_1,W_2,W_3,â€¦,W_{m-1}) = P(W_m|W_{m-n+1},W_{m-n+2},â€¦,W_{m-1})
$$

In [3]:
'''
é¦¬å¯å¤«æ¨¡å‹ç‚ºä¸€ç¨®å…·æœ‰ç‹€æ…‹çš„éš¨æ©Ÿéç¨‹ï¼Œä¸¦ç”¨ P("ä¸‹ä¸€ç‹€æ…‹ s"|"ç•¶å‰ç‹€æ…‹ S") è¡¨ç¤ºç›®å‰ç‹€æ…‹è½‰ç§»åˆ°ä¸‹ä¸€å€‹ç‹€æ…‹çš„æ©Ÿç‡ï¼Œ
æ›å¥ç…¥èªªï¼Œåœ¨ S çš„å‰æä¸‹ s ç™¼ç”Ÿçš„æ©Ÿç‡  

è€Œèªè¨€æ¨¡å‹åˆ©ç”¨è²å¼å®šç†è¨ˆç®—æ©Ÿç‡æ™‚ï¼Œå¯é€éä¸Šè¿°å…¬å¼è¡¨ç¤ºã€‚ä¹Ÿå¯ä»¥ç™¼ç¾å…¶æ¦‚å¿µèˆ‡é¦¬å¯å¤«æ¨¡å‹ç›¸ä¼¼ï¼Œ
äº¦å³ï¼Œä¸‹ä¸€å€‹å­—èˆ‡ç•¶å‰ N-gram åˆç†çš„æ©Ÿç‡ (ğ‘ƒ(ğ‘Šğ‘š|ğ‘Š1, ..., ğ‘Šğ‘šâˆ’1) = ğ‘ƒ(ğ‘Šğ‘š|ğ‘Šğ‘šâˆ’ğ‘›+1, ğ‘Šğ‘šâˆ’ğ‘›+2, ...,ğ‘Šğ‘šâˆ’1))ã€‚
å› æ­¤åœ¨è¨ˆç®— N-Gram èªè¨€æ¨¡å‹æ™‚ï¼Œå¯ä»¥é€éå¼•å…¥é¦¬å¯å¤«æ¨¡å‹ä¾†ä½¿æ©Ÿç‡ç°¡åŒ–ã€‚
'''

'\né¦¬å¯å¤«æ¨¡å‹ç‚ºä¸€ç¨®å…·æœ‰ç‹€æ…‹çš„éš¨æ©Ÿéç¨‹ï¼Œä¸¦ç”¨ P("ä¸‹ä¸€ç‹€æ…‹ s"|"ç•¶å‰ç‹€æ…‹ S") è¡¨ç¤ºç›®å‰ç‹€æ…‹è½‰ç§»åˆ°ä¸‹ä¸€å€‹ç‹€æ…‹çš„æ©Ÿç‡ï¼Œ\næ›å¥ç…¥èªªï¼Œåœ¨ S çš„å‰æä¸‹ s ç™¼ç”Ÿçš„æ©Ÿç‡  \n\nè€Œèªè¨€æ¨¡å‹åˆ©ç”¨è²å¼å®šç†è¨ˆç®—æ©Ÿç‡æ™‚ï¼Œå¯é€éä¸Šè¿°å…¬å¼è¡¨ç¤ºã€‚ä¹Ÿå¯ä»¥ç™¼ç¾å…¶æ¦‚å¿µèˆ‡é¦¬å¯å¤«æ¨¡å‹ç›¸ä¼¼ï¼Œ\näº¦å³ï¼Œä¸‹ä¸€å€‹å­—èˆ‡ç•¶å‰ N-gram åˆç†çš„æ©Ÿç‡ (ğ‘ƒ(ğ‘Šğ‘š|ğ‘Š1, ..., ğ‘Šğ‘šâˆ’1) = ğ‘ƒ(ğ‘Šğ‘š|ğ‘Šğ‘šâˆ’ğ‘›+1, ğ‘Šğ‘šâˆ’ğ‘›+2, ...,ğ‘Šğ‘šâˆ’1))ã€‚\nå› æ­¤åœ¨è¨ˆç®— N-Gram èªè¨€æ¨¡å‹æ™‚ï¼Œå¯ä»¥é€éå¼•å…¥é¦¬å¯å¤«æ¨¡å‹ä¾†ä½¿æ©Ÿç‡ç°¡åŒ–ã€‚\n'

### ä»¥ Bigram æ¨¡å‹ä¸‹åˆ¤æ–·èªå¥æ˜¯å¦åˆç†

å·²çŸ¥çš„æ©Ÿç‡å€¼æœ‰
1. p(i|_start_) = 0.25
2. p(english|want) = 0.0011
3. p(food|english) = 0.5
4. p(_end_|food) = 0.68
5. P(want|_start_) = 0.25
6. P(english|i) = 0.0011

In [2]:
import numpy as np
import pandas as pd
words = ['i', 'want', 'to', 'eat', 'chinese', 'food', 'lunch', 'spend']
word_cnts = np.array([2533, 927, 2417, 746, 158, 1093, 341, 278]).reshape(1, -1)
df_word_cnts = pd.DataFrame(word_cnts, columns=words)
df_word_cnts

      i  want    to  eat  chinese  food  lunch  spend
0  2533   927  2417  746      158  1093    341    278

In [3]:
# è¨˜éŒ„ç•¶å‰å­—èˆ‡å‰ä¸€å€‹å­—è©çš„å­˜åœ¨é »ç‡
bigram_word_cnts = [[5, 827, 0, 9, 0, 0, 0, 2], [2, 0, 608, 1, 6, 6, 5, 1], [2, 0, 4, 686, 2, 0, 6, 211],
                    [0, 0, 2, 0, 16, 2, 42, 0], [1, 0, 0, 0, 0, 82, 1, 0], [15, 0, 15, 0, 1, 4, 0, 0],
                    [2, 0, 0, 0, 0, 1, 0, 0], [1, 0, 1, 0, 0, 0, 0, 0]]

df_bigram_word_cnts = pd.DataFrame(bigram_word_cnts, columns=words, index=words)
df_bigram_word_cnts

          i  want   to  eat  chinese  food  lunch  spend
i         5   827    0    9        0     0      0      2
want      2     0  608    1        6     6      5      1
to        2     0    4  686        2     0      6    211
eat       0     0    2    0       16     2     42      0
chinese   1     0    0    0        0    82      1      0
food     15     0   15    0        1     4      0      0
lunch     2     0    0    0        0     1      0      0
spend     1     0    1    0        0     0      0      0

ç”±ä¸Šè¡¨å¯çŸ¥ç•¶å‰ä¸€å€‹å­—è© (åˆ—, row index) æ˜¯ want çš„æ™‚å€™, ç•¶å‰å­—è© (è¡Œ, column name) æ˜¯ to çš„é »ç‡åœ¨æ–‡æœ¬ä¸­å…±æœ‰ 608 æ¬¡

In [8]:
# è«‹æ ¹æ“šçµ¦å‡ºçš„ç¸½è©é » (df_word_cnts) èˆ‡ bigram æ¨¡å‹çš„è©é » (df_bigram_word_cnts) è¨ˆç®—å‡ºæ‰€æœ‰è©çš„é…å°æ©Ÿç‡ (ex:p(want|i))
df_bigram_prob = df_bigram_word_cnts.copy()

df_bigram_prob = df_bigram_prob / word_cnts.T

df_bigram_prob

,i,want,to,eat,chinese,food,lunch,spend
i,0.001974,0.32649,0.000000,0.003553,0.000000,0.000000,0.000000,0.000790
want,0.002157,0.00000,0.655879,0.001079,0.006472,0.006472,0.005394,0.001079
to,0.000827,0.00000,0.001655,0.283823,0.000827,0.000000,0.002482,0.087298
eat,0.000000,0.00000,0.002681,0.000000,0.021448,0.002681,0.056300,0.000000
chinese,0.006329,0.00000,0.000000,0.000000,0.000000,0.518987,0.006329,0.000000
food,0.013724,0.00000,0.013724,0.000000,0.000915,0.003660,0.000000,0.000000
lunch,0.005865,0.00000,0.000000,0.000000,0.000000,0.002933,0.000000,0.000000
spend,0.003597,0.00000,0.003597,0.000000,0.000000,0.000000,0.000000,0.000000

è«‹æ ¹æ“šå·²çµ¦çš„æ©Ÿç‡èˆ‡æ‰€è¨ˆç®—å‡ºçš„æ©Ÿç‡ (df_bigram_prob), è©¦è‘—åˆ¤æ–·ä¸‹åˆ—å…©å€‹å¥å­å“ªå€‹è¼ƒç‚ºåˆç†

s1 = â€œi want english foodâ€

s2 = "want i english food"

In [ ]:
'''
s1 = p(i|start) * p(want|i) * p(english|want) * p(food|english) * p(end|food)
   = 0.25 * p(want|i) * 0.0011 * 0.5 * 0.68
s2 = p(want|start) * p(i|want) * p(english|i) * p(food|english) * p(end|food)
   = 0.25 * p(i|want) * 0.0011 * 0.5 * 0.68

ç”±ä¸Šè¿°ç®—æ˜¯ä¸­å¯çœ‹å‡ºï¼Œs1 å’Œ s2 ä¸»è¦å·®åœ¨ p(want|i) èˆ‡ p(i|want)ï¼Œè€Œæ­¤å…©æ©Ÿç‡é¡Œç›®çš†æœªå®šç¾©ï¼Œ
å› æ­¤ï¼Œè‹¥ p(want|i) è¼ƒå¤§å‰‡ s1 è¼ƒåˆç†ï¼›è€Œè‹¥ p(i|want) è¼ƒå¤§å‰‡ s2 è¼ƒåˆç†ã€‚
'''